.quart {
  position: absolute;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #B6B6B6;
  z-index: 5;
  font-size: 18px;
}

.quart0 {
  left: 0;
  bottom: 0
}

.quart1 {
  left: -30px;
  top: 50px;
}

.quart2 {
  top: -40px;
  left: 45%;
}

.quart3 {
  right: -30px;
  top: 50px;
}

.quart4 {
  right: 0;
  bottom: 0
}
